__pycache__/
*.py[cod]
.DS_Store

reports/*
invoices/*
!reports/.gitkeep
!invoices/.gitkeep

smart-energy-sap-billing/reports/
smart-energy-sap-billing/invoices/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.env
venv/
charts/
reports/
data/*.db
